<div class="container-fluid">
  <div>
    <div class="mx-auto gap-3 justify-content-center align-items-center row my-5">
      <p class="equip_title text-center text-uppercase fw-bold" style="color:#66FCF1">
        Equipments
      </p>
      <p class="mt-4 text-center" style="color:#C5C6C7">
        Explore our diverse collection of cutting-edge equipment, meticulously designed and crafted to meet the highest standards. Each piece is a testament to innovation and functionality,
      </p>
      <p class="mb-4 text-center" style="color:#C5C6C7">
        providing you with the tools you need for success. Discover the intricate details and features that make our equipment stand out. Your journey to excellence begins here.
      </p>

    </div>
    <div *ngIf="equipments && equipments.length > 0">
      <div *ngFor="let equipment of equipments" class="mx-auto gap-3 justify-content-center align-items-center row my-5">
      <div class="col-md-2 col-lg-2 mb-3">
        <div class="card border-0 bg-transparent" >
          <a href="#"> <img class="card-img-top img-fluid" src="./assets/img/equipments/KOMATSU-D37EX-24.jpg" alt="Equipment image" style="max-height: 220px" /> </a>
          <div class="card-body p-3">
            <h5 class="card-title mt-2 mb-3" style="color: #C5C6C7">{{ equipment.name }}</h5>
            <p class="card-text text-truncate mb-3" style="color: #C5C6C7">{{ equipmentFamilies[equipment.equipmentFamilyId] }}</p>
            <div class="d-flex align-items-center justify-content-between">
              <a href="" class="btn btn-outline-light  w-100" style=""> Explore</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
  </div>
</div>
